<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} | Hodder's Amusements</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body">
            
            <div class="article-wrapper">
              <article>
                  <h1 class="title">{{ title }}</h1>
                  {% if summary %}
                    <p class="summary">{{ summary }}</p>
                  {% endif %}
                  
                  <div class="content">
                    {{ content | safe }}
                  </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>